#hero {
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    --size: 300px;
    position: absolute;
    content: '';
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
  }

  &::before {
    background-color: var(--brand-orange);
    top: calc(var(--size) / 2 * -1);
    left: calc(var(--size) / 2 * -1);
  }

  &::after {
    background-color: var(--brand-yellow);
    bottom: calc(var(--size) / 4 * -1);
    right: calc(var(--size) / 4 * -1);
  }

  .job-search-button-group {
    position: relative;

    .job-search-input,
    .job-search-button {
      border-radius: 30px;
      height: 62px;
      width: 100%;
    }

    .job-search-input {
      background-color: var(--brand-white);
      border: none;
    }

    .job-search-button {
      position: absolute;
      z-index: 69420;
      top: 0;
      right: 0;
      width: 32%;
      background-color: var(--brand-yellow);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
